@import "./tier/reset";
@import "./utils/color-var";
@import "./utils/icons";
@import "./base/fondation";
@import "./composants/Tittle";
@import "./composants/splash__button";
@import "./composants/onboard_etape_item";
@import "./layouts/header_index";
@import "./layouts/splash";
@import "./layouts/onboard";
