
//On commence par définir un style pour la carte entière (son "enveloppe")
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    box-sizing: border-box;
    border-radius: 15px;
}

//On définit l'étiquette qui s'affichera sur les nouveaux restaurants
.card__etiquette {
    
    &::before{
        position: absolute;
        content: "Nouveau";
        color: $couleur_new_shop;
        border-radius: 2px;
        background-color: $couleur_tertiaire;
        width: 70px;
        height: 20px;
        top: 5px;
        right: 5px;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: center;

    }
}

//Style de l'image de la carte
.card__image{
    height: 180px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

//Style du conteneur pour la partie texte et icone
.card__description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

//Style du conteneur pour le texte 
.card__subtexte {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    gap: 5px;
}

//Style du titre
.card__titre {
    font-size: 18px;
    font-weight: 700;
}

//Style du texte descriptif
.card__subdescription {
    font-size: 17px;
    font-weight: 300;
}

//Style de l'icone favoris
.card__favoris{ 
    .fa-solid {
        display: none;
        opacity: 0;
        transition: all ease-in;
        animation: heartfill 1.2s ease-in 0s 1 forwards ;
    }
    .fa-regular {
        display: inline;
    }
}
.card__favoris:hover{ //remplissage au survol
    .fa-solid {
        display: inline;
        opacity: 1;
        background:-moz-linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%); 
        background: -webkit-linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%); 
        background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        
        
    }
    .fa-regular {
        display: none;
        
        
    }
}



