@media screen and (min-width:1024px) { //Responsive version desktop

    //On inverse les titres
    .Tittle__mobile--index{
        display: none !important;
    }

    //Affichage du titre version Desktop
    .Tittle__pc--index {
        display: flex !important;
        height: 36px;
        width: auto;
        object-fit: cover;
        object-position: center;
        background-color: white;
        align-items: center !important;
        
    }

    .Tittle__pc__container {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 15px 0px;
        box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.15);
        
    }
    //On change la taille du bouton commander
    .splash__button{
        max-width: 18% !important;
    }

    //On augmente la taille des éléments et de l'espacement entre les éléments du onboard
    .onboard__etape{
        flex-direction: row !important;
        gap: 80px !important;
        
    }

    .onboard__etape__item{
        padding: 20px 40px;
        width: 28%;

    }

    .onboard__etape__icone {
        padding: 0px 20px 0px 5px;
    }

    //On augmente le gap entre les cartes
    .restaurantcard__container {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 50px auto;
        gap: 80px;

        
        
    }
    //On augmente la taille minimal des cartes
    .card{
        min-width: 45%;
        &__image{
            width: 100%;
            height: 220px;
        }
    }

    //On change l'affichage du footer pour le mettre en ligne qu'on inverse
    .footer__container{
        flex-direction: row-reverse;
        align-items: center;
    }

    //Le style des liens
    .footer__link {
        display: flex;
        flex-direction: row;
        gap: 10px;
        
    }

}