*{
    box-sizing: border-box;
}

//Style du header et de la flèche de retour
.header__restaurants {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    a{
        padding: 10px;
    }
    .fa-arrow-left{
        font-size: 20px;
        font-weight: 900;
    }
    .Tittle__pc--restaurant { //On désactive l'affichage du titre de la version Desktop
        display: none;
    }
}

//Style du héro on le place de tel sorte que l'image puisse être surplomber
.hero__restaurant {
    position: absolute;
    width: 100%;
    min-height: 280px;
    z-index: -1;
    &__image{
        width: 100%;
        height: 280px;
        object-fit: cover;
        object-position: center;
    }
}


//Container du menu général
.container__menu{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 250px auto 0px auto;
    align-items: center;
    justify-items: center;
    background-color: $third_back_color;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    .menu__titre{ //Containeur du titre et de l'icone favoris
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }
    .titre__restaurant{
        font-family: 'Shrikhand';
        font-style: italic;
        font-weight: 400;
        font-size: 28px;
        margin: 20px 10px;
    }
    .restaurant__fav{ //icone favoris
        .fa-solid {
            display: none;
            opacity: 0;
            transition: all ease-in;
            animation: heartfill 1.2s ease-in 0s 1 forwards ;
        }
        .fa-regular {
            display: inline;
        }
    }
    .restaurant__fav:hover { //remplissage de l'icone favoris
        .fa-solid {
            display: inline;
            opacity: 1;
            background:-moz-linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%); 
            background: -webkit-linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%); 
            background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            
            
        }
        .fa-regular {
            display: none;
        }
    }
}

//Style des catégories du menu (entrées, plats, desserts) et init de l'animation
.menu__plats { 
    animation: Menuappear 0.7s;
    margin: 15px 0px;
    width: 80%;
    .menu__section__titre {
        font-weight: 300;
        text-transform: uppercase;
        padding-bottom: 10px;
        position: relative;
        &::before{
            position: absolute;
            left: 0;
            bottom: 0;
            content: "";
            width: 30px;
            height: 3px;
            background-color: $couleur_tertiaire;

        }

    }
}

//Style du bouton commander
.button__commander{
    margin: 10px 0px 50px 0px;
    min-width: none;
    padding: 10px 30px !important;
    width: auto !important;
}

//Début du responsive pour la version desktop
@media screen and (min-width: 1024px) {
    //On change le titre entre la version mobile et desktop
    .Tittle__mobile--restaurant{
        display: none;
    }

    //On affiche la version desktop
    .Tittle__pc--restaurant {
        display: flex !important;
        height: 36px;
        width: auto;
        object-fit: cover;
        object-position: center;
        align-items: center !important;
    }

    .Tittle__pc__container {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    //On change le padding du prix pour avoir un plus grand item
    .prix {
        padding: 0px 0px 0px 15rem !important;
    }

}

