/*couleur principale fond*/
$main_back_color: #F3F3F3;

/*Couleur secondaire fond*/
$second_back_color:#D2D2D2;

/*Couleur pour le dégradé*/
$couleur_primaire: #9356DC;

/*Couleur pour le dégradé*/
$couleur_secondaire: #FF79DA ;

/*fond languette d'ajout et couleur checkmark du menu*/
$couleur_tertiaire: #99E2D0;

/*Couleur de texte nouveau restaurant*/
$couleur_new_shop: #008766;

/*Fond footeur*/
$couleur_footer: #353535;