//Le header
header {
    display: flex;
    flex-direction: column;
    //Le container du formulaire et de l'icone de localisation
    .header__subtittle {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        background: #EAEAEA;
        //Le formulaire en lui même
        .header__formloc {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: #EAEAEA;
            justify-content: center;
            padding: 15px 0px 15px;
            margin: 0px 0px 0px 50px;
            gap: 10px;
            &__localisation {
                border: none;
                background-color: #EAEAEA;
                font-weight: bold;
            }
            
            &__localisation:focus {
                outline: none;
            }
        }
        
    }
}