@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*couleur principale fond*/
/*Couleur secondaire fond*/
/*couleur tertiaire parfois utilisé*/
/*Couleur pour le dégradé*/
/*Couleur pour le dégradé*/
/*fond languette d'ajout et couleur checkmark du menu*/
/*Couleur de texte nouveau restaurant*/
/*Fond footeur*/
/*Les icones et leurs règles*/
/*couleur*/
.fa-mobile-screen-button, .fa-list-ul {
  color: #7e7e7e;
}

.fa-store {
  color: #9356DC;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  max-width: 720px;
  min-width: 350px;
}

.Tittle--mobile {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Shrikhand";
  font-size: 30px;
  font-weight: 400;
  margin: 0px 0px;
  padding: 15px 0px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.splash__button {
  display: flex;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: #9356DC 1px solid;
  width: 33%;
  min-width: 210px;
  padding: 13px 12px;
  font-size: 16px;
  color: white;
  justify-content: center;
}

.splash__button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.onboard__etape__item {
  display: flex;
  flex-direction: row;
  position: relative;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

header {
  display: flex;
  flex-direction: column;
  /*Pour le futur responsive*/
}
header .header__image--pc {
  display: none;
}
header .header__subtittle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
  font-size: 16px;
  font-weight: 500;
  background: #EAEAEA;
  z-index: -1;
}
header .header__subtittle .header__subtexte {
  margin: 5px 0px;
  padding: 15px 0px;
  font-weight: bold;
}

.splash {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px 0px 20px 0px;
  padding: 40px 0px 60px 0px;
  background-color: #F7F7F7;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.splash__tittle {
  font-size: 24px;
  font-weight: 700;
  width: 70%;
  margin-bottom: 5px;
}
.splash__subtexte {
  font-size: 18px;
  font-weight: 300;
  width: 80%;
  margin-bottom: 10px;
}

/*# sourceMappingURL=index-reserve.css.map */
